$negro: #3c4245;
$gris: #5f6769;
$verde: #719192;
$amarillo: #dfcdc3;
$layout-breakpoint-md: 767.98px;

$fuenteTitulo: 'Fjalla One', sans-serif;
$fuenteParrafo: 'Titillium Web', sans-serif;

@import "~bootstrap/scss/bootstrap";

body {
  font-family: $fuenteParrafo;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $fuenteTitulo;
}

h1 {
  margin-bottom: 3rem;
}
img {
  max-width: 100%;
  height: auto;
}
section {
  margin: 5rem 0;
}
.bg-negro {
  background-color: $negro;
}
.bg-amarillo {
  background-color: $amarillo;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
}

.btn-negro {
  background-color: $negro;
  color: $amarillo;
  height: 42px;
  width: 42px;
}

.logo {
  width: 200px;
}

.jumbo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
}
.lista-servicios object{
  width:150px;
  margin-bottom:1.5rem;
}
#Capa_1{
  fill:red;
}

@media (max-width: $layout-breakpoint-md) {
  .logo {
    width: 120px;
  }

  .navbar {
    height: 95px;
    background-color: #ffffff;

    box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 3px 11px 0;
  }

  .logo-footer {
    width: 180px;
  }

  .footer {
    span {
      font-size: 1.3rem;
    }
  }
}

// COLORES DEL TEMA

.negro {
  color: $negro;
}

.gris {
  color: $gris;
}

.verde {
  color: $verde;
}

.amarillo {
  color: $amarillo;
}

.bg-negro {
  background-color: $negro;
}

.bg-gris {
  background-color: $gris;
}

.bg-verde {
  background-color: $verde;
}

.bg-amarillo {
  background-color: $amarillo;
}
.btn-theme {
    border: 2px solid #719192;
    padding: 0.8rem 3rem;
    border-radius: 35px;
    margin-top: 1rem;
    background: #719192;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.main-banner {
  height: 700px;
}
